html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

body {
    color: #ecf0f1;
    background: #34495e;   
    line-height: 40px;
}
div {
    display: block;
}

.rainbow-top {
    top: 0;
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 999;
    margin: 0 auto;
  }
  
.rainbow-top ul {
    width: 100%;
}
  
/* задаём разноцветные прямоугольники с помощью списка */
.rainbow-top ul li {
    width: 20%;
    height: 1rem;
    max-height: 10000px;
    float: left;
}

/* отмена точек списка */
ol, ul {
    list-style: none;
}

.teal {
    background: #1abc9c;
  }
  
.orange {
    background: #e67e22;
}
  
.purple {
    background: #9b59b6;
}
  
.yellow {
    background: #f1c40f;
}
  
.red {
    background: #e74c3c;
}

.container {
    padding-bottom: 10rem;
    text-align: center;
}


.headshot {
    width: 240px;
    height: 240px;
    margin: 25px auto;
    background-image: url(img/iam.jpg);
    background-size: 100%;
    border-radius: 225px;
    box-shadow: 0 0 0 20px #ecf0f1;
    margin-bottom: 5%;
    overflow: hidden;
    transition-duration: .35s;
    -webkit-transition-duration: .35s;
    /* Safari */
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
  }

  .headshot:hover {
    background-image: url(img/iam2.jpg);
    box-shadow: 0px 0px 0px 20px #30bd0d;
  }



.headshot {
    margin-top: 5rem;
}

#name {
    margin-top: 50px;
}

h1 {
    font-family: 'HelveticaNeueW01-75Bold';
    font-size: 3.75rem;
    line-height: 3rem;
    color: rgb(255, 255, 255);
    
}

h1:hover {
    text-shadow: 5px 5px #1abc9c;
    font-family: 'Righteous', cursive;  
}

.text {
    font-size: 2.75rem;
    line-height: 3.25rem;
    display: inline-block;
    width: 100%;
    color: rgb(255, 255, 255);
  }

#developer:hover {
    text-shadow: 6px 6px #1abc9c;
    text-transform: capitalize;
    font-family: 'Righteous', cursive;
}

#qa:hover {
    text-shadow: 6px 6px #e67e22;
    text-transform: capitalize;
    font-family: 'Righteous', cursive;
}

#good:hover {
    text-shadow: 6px 6px #9b59b6;
    text-transform: capitalize;
    font-family: 'Righteous', cursive;
}

#footballer:hover {
    text-shadow: 6px 6px #f1c40f;
    text-transform: capitalize;
    font-family: 'Righteous', cursive;
}

#student:hover {
    text-shadow: 6px 6px #e74c3c;
    text-transform: capitalize;
    font-family: 'Righteous', cursive;
} 

p {
    /*text-shadow: 5px 5px #9b59b6;*/
    font-size: 15pt;
    /*text-shadow: 1px 1px 2px black, 0 0 1em rgb(255, 255, 255);*/
    color: rgb(255, 255, 255);
    font-family: 'Righteous', cursive; 
}


button {
    cursor: pointer;
    padding: 20px;
    vertical-align: middle;
    color: #ecf0f1;
    border: none;
    background: none;
    outline: 6px solid #1abc9c;
    font-family: "Proxima N W01 Light";
    font-size: 1.5rem;
    transition-duration: .25s;
    -webkit-transition-duration: .25s;

  }

button:hover {
    box-shadow: 0 0 0 6px #1abc9c, 0 0 0 12px #9b59b6, 0 0 0 18px #f1c40f, 0 0 0 24px ;
  }

  p.footer_social_items {
    color: white;
    font-size: 32px;
    
}

p.footer_social_items a {
    color: white;
    text-decoration: none;
    margin-right: 30px;
    transition: 0.2s ease-out;
}

p.footer_social_items a:last-child{
    margin-right: 0px;
}

#git:hover {
    text-shadow: 6px 6px #e74c3c;
}


#vk:hover {
    text-shadow: 6px 6px #1abc9c;
}

#gmail:hover {
    text-shadow: 6px 6px #9b59b6;
}




/*----------------------------Second Page-------------------------------*/



#navbar {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100px;
  }

#nav_py {
    background: #1abc9c;
    background-image: url(img/python.png);
    background-size: 63%;
    background-repeat: no-repeat;
    background-position: center;
    height: 120px;
    text-align: center;
    color: black;
}

#nav_js {
    background: #e74c3c;
    background-image: url(img/logos.png);
    background-size: 63%;
    background-repeat: no-repeat;
    background-position: center;
    height: 120px;
    text-align: center;
    color: black;
}

#nav_html {
    background: #f1c40f;
    background-image: url(img/html-5.png);
    background-size: 63%;
    background-repeat: no-repeat;
    background-position: center;
    height: 120px;
    text-align: center;
    color: black;
}

#nav_css {
    background: #e74c3c;
    background-image: url(img/css.png);
    background-size: 63%;
    background-repeat: no-repeat;
    background-position: center;
    height: 120px;
    text-align: center;
    color: black;
}


#nav_qa {
    background: #9b59b6;
    background-image: url(img/bug.png);
    background-size: 63%;
    background-repeat: no-repeat;
    background-position: center;
    height: 120px;
    /*text-align: center;*/
    color: black;
}  
  
#nav_hobbies {
    background: #e67e22;
    background-image: url(img/puzzle.png);
    background-size: 63%;
    background-repeat: no-repeat;
    background-position: center;
    height: 120px;
    text-align: center;
    color: black;
} 
  
.general {
    position: absolute;
    top: 20%;
    left: 35%;
    margin-right: 50%;
    background-color: #34495e;
    text-align: center;
    margin-top: 50px;
    width: 550px;
    height: 350px;
    
}
  
 /* 
.input {
    text-align: center;
}
*/